<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Account</title>
  <link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>

<body style="font-size:20px;">
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h"><img src="img/logo1(1).jpg" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Shop</a>
                <ul class="dropdown-menu">
                  <!-- <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li> -->
                  <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
                  <!-- <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li> -->
                  <li class="nav-item"><a class="nav-link" href="/confirm">Confirmation</a></li>
                  <li class="nav-item"><a class="nav-link" href="/cart">Shopping Cart</a></li>
                  <li class="nav-item"><a class="nav-link" href="/tracking">Order tracking</a></li>
                </ul>
              </li>

              <li class="nav-item"><a class="nav-link" href="/loginPage">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><button><a class="ti-shopping-cart" href="/cart"></a><span
                    class="nav-shop__circle">3</span></button> </li>
              <li class="nav-item"><a class="button button-header" href="/products">Buy Now</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->

  <main class="site-main">

    <div class="content py-5  bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <span class="anchor" id="formUserEdit"></span>
            <!-- form user info -->
            <div class="card card-outline-secondary">
              <div class="card-header">
                <h3 class="mb-0">Account Info</h3>
              </div>
              <div class="card-body">
                <!--account Info form-->
              <form class="form" method="post" action="/addAccountInfo" role="form" autocomplete="off">
                  <input type="hidden" name="userId" value="<%=userId%>" required >
                  <!-- ac holder-->
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">A/c holder name</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" name="ac_holder">
                    </div>
                  </div>
                  <!-- ac no-->
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">A/c No</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" name="ac_no">
                    </div>
                  </div>
                  <!-- ac secret-->
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">A/c Secret</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="password" name="secret" value="1234">
                    </div>
                  </div>
                  <!-- phone no-->
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone No</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" name="phn" value="01763901248">
                    </div>
                  </div>
                  <!--save button-->
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>   
                    <div class="col-lg-9">
                      <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                  </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    </form>
    </div>
    </div>
    <!-- /form user info -->

    </div>
    </div>
    </div>
    </div>

  </main>


  <!--================ Start footer Area  =================-->

  <!--================ End footer Area  =================-->



  <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendors/skrollr.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="vendors/jquery.ajaxchimp.min.js"></script>
  <script src="vendors/mail-script.js"></script>
  <script src="js/main.js"></script>
</body>

</html>