<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Login</title>
  <link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>

<body style="font-size:20px;">
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h"><img src="img/logo1(1).jpg" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Shop</a>
                <ul class="dropdown-menu">
                  <!-- <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li> -->
                  <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
                  <!-- <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li> -->
                  <!-- <li class="nav-item"><a class="nav-link" href="/confirm">Confirmation</a></li> -->
                  <li class="nav-item"><a class="nav-link" href="/cart">Shopping Cart</a></li>
                  <li class="nav-item"><a class="nav-link" href="/tracking">Order tracking</a></li>
                </ul>
              </li>

              <li class="nav-item"><a class="nav-link" href="/loginPage">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><button><a class="ti-shopping-cart" href="/cart"></a><span
                    class="nav-shop__circle">3</span></button> </li>
              <li class="nav-item"><a class="button button-header" href="/products">Buy Now</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->

  <!-- ================ start banner area ================= -->
  <!-- ================ end banner area ================= -->

  <!--================Login Box Area =================-->
  <section class="login_box_area section-margin">
    <div class="container">
      <div class="row">
        <!--left portion-->
        <div class="col-lg-6">
          <div class="login_box_img">
            <div class="hover">
              <h4>New to our website?</h4>
              <!-- <p>There are advances being made in science and technology everyday, and a good example of
                this is the</p> -->
              <a class="button button-account" href="/register">Create an Account</a>
            </div>
          </div>
        </div>
        <!--right portion-->
        <div class="col-lg-6">
          <div class="login_form_inner">
            <h3>Log in to enter</h3>
            <!--login from-->
            <form class="row login_form" id="contactForm" method="post" action="/login">
              <!--email input-->
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="name" name="email" placeholder="Email Address"
                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
              </div>
              <!--password input-->
              <div class="col-md-12 form-group">
                <input type="password" class="form-control" id="name" name="password" placeholder="Password"
                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
              </div>
              <!--keep me logged in-->
              <div class="col-md-12 form-group">
                <div class="creat_account">
                  <input type="checkbox" id="f-option2" name="selector">
                  <label for="f-option2">Keep me logged in</label>
                </div>
              </div>
              <!--login button & forget password-->
              <div class="col-md-12 form-group">
                <button type="submit" class="button button-login w-100">Log In</button>
                <a href="#">Forgot Password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Login Box Area =================-->



  <!--================ Start footer Area  =================-->

  <!--================ End footer Area  =================-->



  <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendors/skrollr.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="vendors/jquery.ajaxchimp.min.js"></script>
  <script src="vendors/mail-script.js"></script>
  <script src="js/main.js"></script>
</body>

</html>